/*-----------------------
 Making Responsive 
 ------------------------*/

 @media only screen and (max-width: 600px) {

    nav{
        height: 100px;
        background-color: white;
        display: grid;
        justify-items: center;
    }

}



/*-----------------------
body section 
 ------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*-----------------------
 header section 
 ------------------------*/

nav {
    height: 100px;
    background-color: white;
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 0 60px 0 60px;
}

.website-name{
    display: flex;
    justify-content: left;
    align-items:center;
}

.menu{
    display: flex;
    justify-content: right;
    align-items:center;
}

.menu a:hover, .social-icon a:hover{
    color: #E02C6D;
}

.menu{
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

/*-----------------------
 top section 
 ------------------------*/

.top-banner{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.half-screen{

}

.title-text h1{
    font-size: 52px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-title p{
    font-size: 16px;
    font-weight: 700;
}

.button a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #E02C6D;
    border-radius: 41px;
    color: white;
    transition: transform 0.5s;
}

.button a:hover{
    transform: translate(20px);
    background-color: #ff327d;
}

.banner-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-camera{
    position:absolute;
}

/*-----------------------
 logo section 
 ------------------------*/

.logo-section{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin:0;
    align-items: center;
    height: 110px;
}

.logo{
    display: flex;
    justify-content: center;
}

/*-----------------------
 product section 
 ------------------------*/

.product-section{
    display: grid;
    justify-content: center;
    margin-top: 30px;
}

.product-section-heading{
    display: flex;
    justify-content: center;
    text-transform:uppercase;
}

.product-grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: box-shadow 0.5s, transform 0.5s;
}

.product:hover{
    box-shadow: 0px 0px 15px rgb(214, 214, 214);
    transform: scale(1.05);
}

.product img{
    width: 300px;
    height: 256px;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price,.product-name{
    margin:5px 0px;
}

.product-details .price{
    font-size: 24px;
}

.fa-star.filled{
    color: orange;
}

.fa-star.empty{
    color: rgb(216, 216, 216);
}

.see-more{
    display: flex;
    justify-content: flex-end;
}

.see-more a{
    display: inline-block;
    text-decoration:none;
    color: #E02C6D;
    transition: transform 0.5s;
}

.see-more a:hover{
    transform: translate(20px);
}


/*-----------------------
 interesting section 
 ------------------------*/

.interesting{
    display: grid;
    justify-items: center;
    margin: 20px 0px;

}

.other-products-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    width: 80%;
    justify-items: center;
    align-items: center;
}

.other-products-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.other-product{
    width: 150px;
    height: 150px;
    border: 5px solid rgb(231, 231, 231);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 0.5s, transform 0.5s, translate 0.5s;
}
.other-product img{
    width: 100%;
    height: 100%;
}

.other-product:hover{
    /* width: 250px; */
    box-shadow: 0px 0px 20px rgb(197, 197, 197);
    transform: scale(1.50) rotate(10deg);
}

.other-products-title h1{
    font-size: 30px;
}


/*-----------------------
 footer section 
 ------------------------*/

footer{
    height: 200px;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
}

.social-icon i{
    margin:0px 5px;
}

.social-icon a{
    text-decoration: none;
    color: white;
}