/*-----------------------
 Making Responsive 
 ------------------------*/

@media only screen and (max-width:688px) {
    .website-name, .menu{
        flex-direction: column;
    }

    .website-name{
        order: 1;
    }

    .menu{
        order: 2;
    }
}


/*-----------------------
 header section 
 ------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*-----------------------
 header section 
 ------------------------*/

nav {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}

.website-name, .menu{
    display: flex;
    align-items: center;
}

.menu{
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

/*-----------------------
 top section 
 ------------------------*/

.top-banner{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    height: 500px;
    padding: 0 100px;
}

.half-screen{
    width: 50%;
}

.title-text h1{
    font-size: 52px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sub-title p{
    font-size: 16px;
    font-weight: 700;
}

.button{
    display: inline-block;
    text-decoration: none;
    padding: 5px 12px;
    background-color: #E02C6D;
    border-radius: 41px;
    color: white;
}

.banner-left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-camera{
    position:absolute;
}

/*-----------------------
 logo section 
 ------------------------*/

.logo-section{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0 10% 0 10%;
    margin:0;
    align-items: center;
    height: 110px;
    /* background-color: thistle; */
}

/*-----------------------
 product section 
 ------------------------*/

.product-section{
    display: flex;
    flex-direction: column;
}

.product-section-heading{
    display: flex;
    justify-content: center;
}

.product-grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(214, 214, 214);
}

.product img{
    width: 300px;
    height: 256px;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price,.product-name{
    margin:5px 0px;
}

.product-details .price{
    font-size: 24px;
}

.fa-star.filled{
    color: orange;
}

.fa-star.empty{
    color: rgb(216, 216, 216);
}

.see-more{
    display: flex;
    color: #E02C6D;
    justify-content: flex-end;
    padding-right: 90px;
}


/*-----------------------
 interesting section 
 ------------------------*/

.interesting{
    margin: 20px 0px;
}

.other-products-section{
    display: flex;
    justify-content: center;
}

.other-product{
    width: 150px;
    height: 150px;
    margin: 20px;
    border: 5px solid rgb(231, 231, 231);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: box-shadow 0.5s, transform 0.5s;
}
.other-product img{
    width: 100%;
    height: 100%;
}

.other-product:hover{
    /* width: 250px; */
    box-shadow: 0px 0px 20px rgb(197, 197, 197);
    transform: scale(1.50) rotate(10deg);
}


/*-----------------------
 footer section 
 ------------------------*/

footer{
    height: 200px;
    text-align: center;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon i{
    margin:0px 5px;
}

.social-icon a{
    text-decoration: none;
    color: white;
}


